body {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	color: white;
	background-color: grey;
}

h1 {
	font-size: 30px;
    text-align: center 
  
}

p {
    font-size: 20px;
    text-align: center
}

img.resize{
    width: 100px;
    height: auto;
}

#key {
	width: 0 auto;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px;
	background-color: black;
	font-size: 0.9em;
}

#key div {
	border: 2px solid black;
	height: 20px;
	width: 20px;
	display: inline-block;
	border-radius: 5px;
}

.seat {
  margin: 0 auto;
  height: 75px;
  width: 100%;
  color: white;
  background-color: green;
  /*border: 2px solid black;*/
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.available {
	background-color: green;
}

.selected {
	background-color: blue;
}

.reserved {
	background-color: red;
}



/*This is the basic styling for the form.*/
form {
	display: none;
	background-color: blue;
	padding: 10px;
}

#reserve {
	margin: 10px;
	color: black;
	display: block;
}